/* .navbar-nav{
  margin-left: 60%;
}

.ban{
  height: 400px;
}

.epic1{
  width: 510px;
  height: 350px;
  margin-left: 10px;
  border-radius: 20px;
}

.ejus{
  text-align: justify;
}


.s_size{
  font-size: xx-large;
} */

/* Donation CSS Start  */
*{
  padding: 0;
  margin: 0;
}

.container_custom{
  width: 98vw;
}

.mother_bg{
  width: 100%;
  height: 100vh;
  background-image: url('../media/background_donation.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.mother_nav{
  /* background-color: rgba(0, 0, 0, 0.993); */
}

.logo{
  background-color: #adc762;
  width: 130px;
  height: 130px;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}

.logo_img{
  width: 100%;
  height: 100%;
  
}

.donation, .adoption{
  background-color: #adc762;
  width: 150px;
  height: 50px;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.txt_dec{
  text-decoration: none;
  color: white;
}

.txt_dec:hover{
  color: white;
}

.l_txt{
  background-color: rgba(255, 255, 255, 0.582);
  color: black;
  width: 50%;
}

.r-txt{
  background-color: #aec762;
  color: white;
  width: 40%;
}

/* Navbar End  */

